@import "custom";
@import "intro";
@import "ethos";
@import "tools";
@import "gallery";
@import "gallery-modal";
@import "services";

$fade-1: rgba(191, 39, 38, 0.4);
$fade-2: rgba(191, 39, 38, 0.6);

*{
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #b61924;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.break{
  height: 2px;
  margin: 16px;
  background: #BF2726;
  display: block;
}
.carousel-item h1{
  font-size: 12vw;
  // letter-spacing: 150%;
  font-weight: bold;
  text-transform: capitalize;
  white-space: "none";
  x-overflow: hidden;
}
.carousel-item img{
  max-height: 768px;
  width: 100%;
}


.cta{
  margin-top: 250px;
}
