@import "custom";
@import "intro";
@import "ethos";
@import "tools";

$fade-1: rgba(191, 39, 38, 0.4);
$fade-2: rgba(191, 39, 38, 0.6);

*{
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}




#gallery {
  margin-top: 250px;
  .demo{
    height: 400px;
    position: relative;
    color: #ffffff;
    background-size: 150%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.5s ease-out;
    a{
      cursor: pointer;
    }
  }
  .demo-text{
    padding: 64px 32px;
    transition: 0.5s ease-out;
  }
  }
  .demo:hover{
    background-size: 160%;
    transition: 0.5s ease-out;
    background: rgba(33, 33, 33, 0.8);
  }
  .demo-text:hover h1{
    visibility: visible;
    transition: 0.5s ease-out;
  }
  .demo-text h1{
    visibility: hidden;
  }
  .demo-text{
    position: absolute;
    z-index: 200;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: 0.5s ease-out;
  }
  .play-button_wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}
#demo-1{
  background: url('../images/gallery/shambhala.png');
}
#demo-2{
  background: url('../images/gallery/breckenridge.png');
}
#demo-3{
  background: url('../images/gallery/daniels.png');
}
#demo-4{
  background: url('../images/gallery/borgore.png');
}
#demo-5{
  background: url('../images/gallery/peoplesfair.png');
}
#demo-6{
  background: url('../images/gallery/um.png');
}
#demo-7{
  background: url('../images/gallery/innovation.png');
}
#demo-8{
  background: url('../images/gallery/boombox.png');
}
#demo-9{
  background: url('../images/gallery/dancefest.png');
}
#demo-10{
  background: url('../images/gallery/medasin.png');
}

.play-button{
  width: 64px;
  opacity: 0.7;
}

#gallery-modal{
  .gallery-control-prev,
  .gallery-control-next{
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    color: #ffffff;
    text-align: center;
  }
  .gallery-control-prev{
    left: 0;
  }
  .gallery-control-next{
    right: 0;
  }
  .carousel-item{
    height: 450px;
  }
  .close-btn{
    border-radius: 0;
    background: #333333;
    color: #ffffff;
  }
}

.break{
  height: 2px;
  margin: 16px;
  background: #BF2726;
  display: block;
}

#services{
  background: #333333;
  color: #eeeeee;
  padding-bottom: 32px;
  .row{
    padding: 32px;
  }

  .title{
    padding-top: 64px;
  }
  img{
    margin: 16px;
  }
  p{
    color: #ccc;
  }
}
.carousel-caption{
  padding: 300px 0;
  // transform: translateX(-10%);
  text-align: center;
  width: 100%;
  right: 0;
  left: 0;
  white-space: "none";
  display: flex;
}
.carousel-item h1{
  font-size: 12vw;
  // letter-spacing: 150%;
  font-weight: bold;
  text-transform: capitalize;
  white-space: "none";
  x-overflow: hidden;
}
.carousel-item img{
  max-height: 768px;
}


.cta{
  margin-top: 250px;
}
