#footer{
  padding-top: 640px;
  z-index: 100;
  img{
    position: relative;
    z-index: 1000;
    width: 100%;
  }
  .footer-content{
    height: 400px;
    background: #111111;
  }
  .socials{
    padding-top: 168px;
  }
  .socials a{
    display: inline;
    padding: 32px;
  }
  .socials img{
    width: 64px;
  }
  .copyright p{
    text-align: center;
    color: #ffffff;
    margin: 16px auto;
  }
  @media (max-width : 650px){
    padding-top: 720px;
  }
  @media (max-width : 500px){
    padding-top: 840px;
  }
}
