
#tools_wrapper{
  overflow-x: auto;
  overflow-y: hidden;
  display: block;
  max-height: 300px;
  width: 100%;
}
#tools_container{
  width: 2700px;
  overflow: hidden;
}
#tools_container .box{
  display: inline-block;
}
#tools_wrapper #tools_container img{
  width: 300px;
  height: 300px;
}
#tools{
    // background: linear-gradient(#111, #222);
    background: #222;
}
#tools .title{
  color: #ffffff;
  padding-top: 64px;
  h2{
    font-size: 4vw;
  }
}
