@import "custom";
@import "intro";
@import "ethos";
@import "tools";
@import "gallery";
@import "gallery-modal";
@import "services";
@import "particles";
@import "footer";

$fade-1: rgba(191, 39, 38, 0.4);
$fade-2: rgba(191, 39, 38, 0.6);

*{
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
.break{
  height: 2px;
  margin: 16px;
  background: #BF2726;
  display: block;
}
.carousel-item h1{
  font-size: 12vw;
  // letter-spacing: 150%;
  font-weight: bold;
  text-transform: capitalize;
  white-space: "none";
  x-overflow: hidden;
}
.carousel-item img{
  max-height: 768px;
  width: 100%;
}
@media screen and (min-width: 1200px){
  #particle-js {
    background-color: #ffffff;
    canvas{
      height: 1500px !important;
    }
  }
}
@media (max-width: 650px){
  #particle-js canvas{
    height: 800px !important;
  }
}
